<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Queue")?></a>

                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>">
                        </a>
                        &nbsp;|&nbsp;
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>

            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert',
                'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

                <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                    <thead>
                        <tr>
                            <th><?php echo $this->translate('Name');?></th>
                            <th><?php echo $this->translate('Audio Class');?></th>
                            <th><?php echo $this->translate('Strategy');?></th>
                            <th class="text-center"data-sort-ignore="true"><?php echo $this->translate('SLA');?></th>
                            <th class="text-center" data-sort-ignore="true"><?php echo $this->translate('Timeout');?></th>
                            <th colspan="3" class="text-center" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                        </tr>
                    </thead>
                    <tbody>

                        <?php if ($this->queues) :
                            foreach ($this->queues as $cha => $queue): ?>

                                <tr>
                                    <td> <b> <?php echo $queue['name'] ?> </b> </td>
                                    <td> <?php echo $queue['musiconhold'] ?> </td>
                                    <td> <?php echo $queue['strategy'] ?> </td>
                                    <td class="text-center"> <?php echo $queue['servicelevel'] ?> </td>
                                    <td class="text-center"> <?php echo $queue['timeout'] ?> </td>
                                    <td class="text-center">
                                        <a class="btn btn-default btn-sm"  href="<?php echo $this->url ?>/members/id/<?php echo $queue['name'] ?>" role="button"><?php echo $this->translate('Members')?>

                                        </a>
                                        <a class="btn btn-edit btn-sm"  href="<?php echo $this->url ?>/edit/id/<?php echo $queue['name'] ?>" role="button"><?php echo $this->translate('Edit')?>

                                        </a>
                                        <a class="btn btn-danger btn-sm"  href="<?php echo $this->url ?>/remove/id/<?php echo $queue['name'] ?>" role="button"><?php echo $this->translate('Delete')?>

                                        </a>
                                    </td>
                                </tr>
                            <?php endforeach ?>
                        <?php endif ?>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="8">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            <?php } ?>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->


<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>


